@media (max-width: 1920px) {
	.container {
		padding-right: calc((100vw - 1600px) / 2);
		padding-left: calc((100vw - 1600px) / 2);
	}

	.projects__prev-btn {
		left: calc(160px - (160px - calc((100vw - 1600px) / 2)));
	}

	.projects__next-btn {
		right: calc(160px - (160px - calc((100vw - 1600px) / 2)));
	}
}

@media (max-width: 1690px) {
	.container {
		padding-right: calc((100vw - 1330px) / 2);
		padding-left: calc((100vw - 1330px) / 2);
	}

	.hero__background {
		height: 100%;
	}

	.gallery__container {
		padding-bottom: 80px;
	}

	.projects__prev-btn {
		left: calc(160px - (160px - calc((100vw - 1330px) / 2)));
	}

	.projects__next-btn {
		right: calc(160px - (160px - calc((100vw - 1330px) / 2)));
	}

	.dropdown__item:not(:last-child) {
		margin-right: 60px;
	}
}

@media (max-width: 1399px) {
	.container {
		padding-right: calc((100vw - 1060px) / 2);
		padding-left: calc((100vw - 1060px) / 2);
	}

	.header__logo {
		margin-right: 30px;
	}

	.nav__list {
		gap: 40px;
	}

	.dropdown__item:not(:last-child) {
		margin-right: 20px;
	}

	.projects__prev-btn {
		left: calc(160px - (160px - calc((100vw - 1080px) / 2)));
	}

	.projects__next-btn {
		right: calc(160px - (160px - calc((100vw - 1080px) / 2)));
	}

	.ac-panel__wrapper {
		height: 440px;
	}

	.ac-panel__rect {
		width: 220px;
		height: 165px;
	}

	.ac-panel__wrap {
		padding-top: 30px;
	}

	.events__text-wrapper {
		padding-left: 33px;
	}

	.ac__artist-link {
		margin-right: 60px;
	}
}

@media (max-width: 1125px) {
	.container {
		padding-left: 50px;
		padding-right: 50px;
	}

	.header__container {
		justify-content: space-between;
		align-items: center;
	}

	.header__small-search {
		display: flex;
	}

	.header__open-search {
		display: block;
	}

	.header__small-search.dropped {
		bottom: 34px;
		flex-direction: row;
	}

	.header__burger {
		display: flex;
	}

	.header__logo {
		margin-top: -2px;
		margin-right: 78.5px;
	}

	.header__image {
		width: 188px;
	}

	.nav__list {
		gap: 0;
		margin-bottom: auto;
	}

	.header__nav {
		position: absolute;
		top: 0;
		left: -100vw;
		flex-direction: column;
		align-items: flex-start;
		width: 100vw;
		height: 100vh;
		padding: 33px 0 50px 48px;
		background-color: rgba(0, 0, 0, 0.9);
		transition: left .3s ease-in-out;
		z-index: 10;
	}

	.nav__link {
		padding: 0;
		font-size: 24px;
		font-weight: 600;
		line-height: 64px;
	}

	.header__burger-close {
		position: relative;
		width: 37px;
		height: 37px;

		margin-bottom: 31px;
	}

	.burger-close__line {
		position: absolute;
		top: 17px;
		right: 2.5px;

		width: 100%;
		height: 3px;
		background-color: white;
		transform: translateX(-5px);
	}

	.burger-close__line_one {
		transform: rotate(-45deg);
	}

	.burger-close__line_two {
		bottom: 0;
		transform: rotate(45deg);
	}

	.header__nav.active {
		left: 0;
	}

	.nav__list {
		flex-direction: column;
	}

	.nav__login {
		padding: 15px 90px;
		border: 2px solid var(--amethyst);
		border-radius: 100px;
	}

	.header__bottom {
		display: none;
	}

	.hero__container {
		padding-top: 105px;
		padding-bottom: 118px;
		background-image: url('../img/hero-background-tablet.jpg');
		background-position: left bottom;
	}

	.hero__background {
		display: none;
	}

	.hero__wrapper {
		max-width: 660px;
	}

	.hero__title {
		margin-bottom: -12px;
	}

	.hero__descr {
		margin-bottom: 133px;
	}

	.hero__background-image {
		height: 100%;
		object-fit: cover;
	}

	.about__wrapper {
		max-width: 925px;
	}

	.choices {
		width: 280px;
		margin-bottom: 113.5px;
	}

	.gallery__container {
		padding-bottom: 77px;
	}

	.gallery__wrapper {
		margin-right: 38px;
	}

	.catalog__container {
		padding-bottom: 80px;
	}

	.catalog__arts {
		gap: 50px;
	}

	.catalog__artist {
		width: 437px;
	}

	.catalog__names {
		width: 437px;
	}

	.ac__artist-link {
		margin-right: 65px;
	}

	.ac-panel__rect {
		width: 190px;
		height: 130px;
	}

	.ac-panel__wrap {
		width: 50%;
	}

	.accordion__item .accordion__trigger {
		padding: 39.5px 0 42.5px 0;
	}

	.artist__live {
		margin-bottom: 18px;
	}

	.events__container {
		padding-bottom: 118px;
	}

	.events__text-wrapper {
		padding-left: 33px;
	}

	.events__time,
	.events__placement {
		text-align: right;
	}

	.events__time {
		margin-bottom: 6px;
	}

	.events__navigation {
		display: none;
	}

	.events__pagination {
		display: block;
	}

	.events .swiper-horizontal>.swiper-pagination-bullets,
	.events .swiper-pagination-bullets.swiper-pagination-horizontal,
	.events .swiper-pagination-custom,
	.events .swiper-pagination-fraction {
		bottom: -44px;
		left: 0;
		width: 100%;
	}

	.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
	.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		margin: 0 8px;
	}

	.events__text-wrapper {
		min-height: 478px;
		padding-top: 10px;
		padding-right: 33px;
		padding-bottom: 17px;
	}

	.events__header {
		margin-bottom: 5px;
	}

	.projects__swiper {
		margin: 0 54px;
	}

	.projects__slide {
		height: 127px;
	}

	.projects__next-btn {
		right: 50px;
		bottom: 130px;
	}

	.projects__prev-btn {
		left: 50px;
		bottom: 130px;
	}

	.projects__slide-wrapper_one {
		max-width: 210px;
	}

	.projects__slide-wrapper_two {
		max-width: 285px;
	}

	.projects__slide-wrapper_three {
		max-width: 230px;
	}

	.projects__slide-wrapper_four {
		max-width: 105px;
	}

	.projects__slide-wrapper_five {
		max-width: 150px;
	}

	.projects__slide-wrapper_six {
		max-width: 215px;
	}

	.projects__slide-wrapper_seven {
		max-width: 245px;
	}

	.projects__slide-wrapper_eight {
		max-width: 155px;
	}

	.projects__slide-wrapper_nine {
		max-width: 195px;
	}

	.contact__container {
		padding-top: 41px;
		padding-bottom: 45px;
	}

	.contact__title {
		margin-bottom: 12px;
	}

	.contact__address {
		margin-bottom: 29px;
		font-size: 14px;
		line-height: 19px;
	}

	.contact__button {
		padding: 11px 42px;
	}

	.contact__form {
		flex-wrap: wrap;
		margin-bottom: 30px;
	}

	.footer__container {
		padding-top: 50px;
		padding-bottom: 38px;
	}

	.footer__contacts {
		gap: 22px;
		margin-top: -9px;
	}

	.footer__link svg {
		width: 59px;
		height: 59px;
	}
}

@media (max-width: 900px) {
	.header__logo {
		margin-right: 79.5px;
	}

	.header__open-search svg {
		width: 28px;
	}

	.gallery__container {
		flex-wrap: wrap;
		padding-bottom: 75px;
	}

	.gallery__form {
		margin-bottom: 22.5px;
	}

	.swiper-horizontal>.swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal,
	.swiper-pagination-custom,
	.swiper-pagination-fraction {
		bottom: -1px;
		width: unset;
	}

	.choices {
		margin-bottom: 47.5px;
	}

	.catalog__container {
		padding-bottom: 64px;
	}

	.catalog__arts {
		flex-direction: column-reverse;
		gap: 47px;
	}

	.catalog__descr {
		margin-bottom: 20px;
	}

	.catalog__names {
		width: 100%;
	}

	.ac-panel__wrapper {
		height: 339px;
	}

	.ac__artist-link {
		margin-right: 59px;
	}

	.ac-panel__rect {
		width: 275px;
		height: 190px;
	}

	.ac-panel__wrap {
		padding-top: 43px;
	}

	.accordion__item .accordion__trigger {
		padding: 39.5px 0 43.5px 0;
	}

	.catalog__artist {
		width: 100%;
	}

	.artist__image {
		margin-bottom: 22px;
	}

	.artist__live {
		margin-bottom: 8px;
	}

	.events__placement,
	.events__time {
		margin-right: -15px;
	}

	.projects__title {
		margin-bottom: 15px;
	}

	.projects__descr {
		margin-bottom: 27px;
	}

	.projects__partnership-title {
		margin: 0 0 29px 0;
	}

	.projects__slide {
		height: 106px;
	}

	.projects__prev-btn,
	.projects__next-btn {
		bottom: 118px;
	}

	.projects__slide-wrapper_two {
		max-width: 216px;
	}

	.projects__slide-wrapper_three {
		width: 195px;
	}

	.projects__slide-wrapper_four {
		width: 105px;
	}

	.projects__slide-wrapper_five {
		width: 121px;
	}

	.projects__slide-wrapper_six {
		width: 176px;
	}

	.projects__slide-wrapper_seven {
		width: 194px;
	}

	.projects__slide-wrapper_eight {
		width: 143px;
	}

	.projects__slide-wrapper_nine {
		width: 182px;
	}

	.contact__input {
		margin-bottom: -5px;
		padding-right: 117px;
	}

	.contact__button {
		padding: 11px 28px;
	}

}

@media (max-width: 624px) {
	.container {
		padding: 50px 15px;
	}

	.section__title {
		font-size: 28px;
		font-weight: 400;
		line-height: 38px;
	}

	.section__descr {
		font-size: 14px;
		font-weight: 400;
		line-height: 28px;
	}

	.header__container {
		padding-top: 12px;
		padding-bottom: 5px;
	}

	.burger__line {
		height: 2px;
	}

	.burger__line_one {
		top: 1px;
		width: 25px;
	}

	.burger__line_two {
		top: 9px;
		width: 16px;
	}

	.burger__line_three {
		top: 17px;
		width: 10px;
	}

	.header__logo {
		margin-right: 78px;
	}

	.header__image {
		width: 97px;
	}

	.hero__container {
		padding: 30px 30px 45px 30px;
	}

	.hero__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 8px;
	}

	.hero__title {
		margin-bottom: 1px;
		font-size: 32px;
		font-weight: 700;
		line-height: 44px;
		text-align: center;
	}

	.hero__descr {
		margin-bottom: 42px;
		font-size: 12px;
		font-weight: 400;
		line-height: 16px;
		text-align: center;
	}

	.hero__button {
		padding: 9px 20px 12px 20px;
	}

	.hero__link {
		padding: 0;
		font-size: 12px;
		font-weight: 700;
		line-height: 16px;
	}

	.about__container {
		padding-bottom: 41px;
	}

	.about__title {
		margin-bottom: 12px;
	}

	.gallery__container {
		padding-bottom: 21px;
	}

	.gallery__wrapper {
		margin-right: 0;
	}

	.choices {
		width: 100%;
		margin-bottom: 37.5px;
	}

	.gallery__title {
		margin-bottom: 13px;
	}

	.gallery__form-legend {
		margin-bottom: 4px;
	}

	.gallery__swiper {
		display: flex;
		flex-direction: column-reverse;
	}

	.gallery__form {
		margin-bottom: 37px;
	}

	.gallery__nav-wrapper {
		justify-content: center;
		margin-top: 16px;
	}

	.catalog__container {
		padding-bottom: 1px;
	}

	.catalog__title {
		margin-bottom: 13px;
	}

	.catalog__descr {
		display: none;
	}

	.accordion__item .accordion__trigger {
		font-size: 18px;
		font-weight: 600;
		line-height: 32px;
	}

	.accordion__item .accordion__trigger {
		padding: 19.5px 0 20.5px 0;
	}

	.accordion__item .accordion__trigger svg {
		top: 21px;
		width: 30px;
		height: 30px;
		padding: 10px;
	}

	.accordion__item .accordion__panel .accordion__text {
		width: 100%;
		padding: 20.5px 0;
	}

	.ac-panel__wrapper {
		min-height: 810px;
		height: 100%;
	}

	.catalog__arts {
		gap: 52px;
	}

	.artist__image {
		margin-bottom: 20px;
	}

	.artist__title {
		margin-bottom: 6px;
	}

	.artist__live {
		margin-bottom: 13px;
	}

	.artist__descr {
		margin: 0;
	}

	.events__title {
		margin-bottom: 11.5px;
	}

	.events__text-wrapper {
		padding-top: 14px;
		padding-left: 22px;
	}

	.events__time {
		margin-bottom: 10px;
	}

	.events__small-disabled {
		display: none;
	}

	.events__more {
		margin-left: 6px;
	}

	.events .swiper-horizontal>.swiper-pagination-bullets,
	.events .swiper-pagination-bullets.swiper-pagination-horizontal,
	.events .swiper-pagination-custom,
	.events .swiper-pagination-fraction {
		bottom: -35px;
	}

	.projects__container {
		padding-top: 30px;
	}

	.projects__descr {
		margin-bottom: 17px;
	}

	.projects__partnership-title {
		margin-bottom: 12px;
		font-size: 18px;
		font-weight: 600;
		line-height: 32px;
	}

	.projects__slide {
		height: 64px;
	}

	.projects__slide-wrapper_one {
		max-width: 104px;
	}

	.projects__slide-wrapper_two {
		max-width: 141px;
	}

	.projects__slide-wrapper_three {
		max-width: 116px;
	}

	.projects__slide-wrapper_four {
		max-width: 53px;
	}

	.projects__slide-wrapper_five {
		max-width: 75px;
	}

	.projects__slide-wrapper_six {
		max-width: 110px;
	}

	.projects__slide-wrapper_seven {
		max-width: 124px;
	}

	.projects__slide-wrapper_eight {
		max-width: 80px;
	}

	.projects__slide-wrapper_nine {
		max-width: 100px;
	}

	.projects__prev-btn,
	.projects__next-btn {
		bottom: 68px;
	}

	.projects__prev-btn {
		left: 14px;
	}

	.projects__next-btn {
		right: 14px;
	}

	.projects__swiper {
		margin: 0 47px;
	}

	.contact {
		outline: none;
	}

	.contact__container {
		flex-direction: column;
		align-items: flex-start;
		padding-top: 0;
	}

	.contact__title {
		font-size: 18px;
		font-weight: 600;
		line-height: 25px;
	}

	.contact__title {
		margin-bottom: 5px;
	}

	.contact__placement {
		margin-right: 0;
	}

	.contact__address {
		margin-bottom: 19px;
	}

	.contact__form {
		flex-direction: column;
		align-items: flex-start;
		flex-wrap: nowrap;
		gap: 25px;
		margin-bottom: 20px;
	}

	.contact__small-disabled {
		display: none;
	}

	.contact__input {
		padding: 10px 83px 10px 23px;
	}

	.contact__button {
		padding: 11px 34px;
		font-size: 12px;
		font-weight: 700;
		line-height: 16px;
	}

	.socials__title {
		font-size: 18px;
		font-weight: 400;
		line-height: 32px;
	}

	.socials__link svg {
		width: 50px;
		height: 50px;
	}

	.map__wrapper {
		height: 290px;
	}

	.footer__container {
		flex-direction: column-reverse;
		align-items: center;
		gap: 18px;
		padding-top: 31px;
		padding-bottom: 17px;
	}

	.footer__link svg {
		width: 48px;
		height: 48px;
	}

	.footer__logo {
		width: 98px;
	}

	.header__small-search {
		right: 0;
		width: 100%;
		justify-content: flex-end;
		height: 75px;
		padding: 15px;
		padding-bottom: 20px;
		background-color: rgba(0, 0, 0, 0.9);
		z-index: 1;
	}

	.header__small-search.dropped {
		bottom: -30px;
	}

	.header__open-search {
		align-self: flex-start;
		height: 18px;
	}

	.header__open-search svg {
		width: 18px;
		height: 18px;
	}

	.small-search__submit {
		align-self: flex-end;
		width: 16px;
		height: 16px;
		margin-right: 3px;
	}

	.small-search__submit svg {
		width: 16px;
		height: 16px;
	}

	.small-search__close {
		width: 15px;
		height: 15px;
		padding: 0;
	}

	.small-search__close svg {
		width: 15px;
		height: 15px;
	}

	.small-search__input {
		width: calc(100% - 110px);
		margin-right: 34px;
	}

	.header__nav {
		padding: 15px;
		padding-bottom: 26px;
	}

	.nav__list {
		margin-top: 0;
	}

	.nav__item {
		margin-top: -32px;
	}

	.nav__link {
		font-size: 16px;
	}

	.header__burger-close {
		width: 19px;
		height: 19px;
		margin-bottom: 28px;
	}

	.burger-close__line {
		top: 6px;
		right: 1.5px;
	}

	.nav__login {
		padding: 10px 30px 11px 29px;
		font-size: 12px;
		font-weight: 600;
		line-height: 16px;
	}

	.nav__login svg {
		width: 10px;
		height: 9px;
	}

	.ac-panel__rect {
		width: 90px;
		height: 130px;
	}

	.ac-panel__rect::after {
		top: 5px;
		left: 4px;
		bottom: 4px;
		right: 4px;
	}

	.ac-panel__wrap {
		width: 60%;
		padding-top: 2px;
	}

	.ac-panel__header {
		font-size: 18px;
	}

	.ac-panel__descr {
		margin-bottom: 5px;
		font-size: 16px;
	}

	.accordion__item .accordion__panel .accordion__empty {
		justify-content: space-between;
		padding: 22.5px 0;
	}


}
